extends base

block contenido
    main.main
    .error
        .error__title
        h2.heading-secondary.heading-secondary--error Algo Salio Mal!   
        h2.error__emoji 😢 🤯
        .error__msg= error  